/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #121212;
    color: white;
}

mat-list-item:nth-child(odd) {
    background-color: gray;
}

mat-list-item:nth-child(even) {
    background-color: darkgray;
}

.padtop15 {
    padding-top: 15vh;
}

.material-icons.addicon {
    font-size: 15vw;
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    padding: 10vw;
}